<div id="for-unauthorized">
    <div id="unauthorized">
        <br>
        <h3>Guest User (without login)</h3><br>
        <label>Email:<div style="width: 5px;"></div><input type="text" required></label><br>
        <label> Phone:<div style="width: 5px;"></div><input type="text" required></label><br>
        <button class="btn btn-primary" routerLink="/">CANCEL</button>
        <button class="btn btn-primary" routerLink="/searchBusLink">CONTINUE</button>  <br>
        <br>
    </div>
    
</div>