
<!-- <div id="ticket-details">
    <div id="details">
        <h2>Ticket Details</h2>
        <div id="print-details">
            <h3>{{searchTicket.bookingDate}}</h3>
            <h3>{{searchTicket.dateOfJourney}}</h3>
            <h3>{{searchTicket.ticketNo}}</h3>
            <h3>{{searchTicket.seatNo}}</h3>
            <h3>{{searchTicket.busNo}}</h3>
            <h3>{{searchTicket.source}}</h3>
            <h3>{{searchTicket.destination}}</h3>
            <h3>{{searchTicket.fare}}</h3>
            <h3>{{searchTicket.startTime}}</h3>
            <h3>{{searchTicket.reachTime}}</h3>
        </div>	
    </div>
</div> -->
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="text-align: center; color: green;" >Your Booking is Confirmed!!</h1>
 <h2 style="text-align: center; color: orange;">Thanks for choosing BusPassCompany:)</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 style="text-align: center; color: grey"> “A mind that is stretched by a new experience can never go back to its old dimensions.”</h3>
<h3 style="text-align: center; color: grey"> Happy Journey!!</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>