
<main>

    <!-- hero content -->
    <div class="about-hero">
        <!-- content for the hero -->
        <div class="about-hero-content">
            <h1 class="hero-title">About Us.</h1>
        </div>
    </div>       


    <!-- Paragraph -->
    <div class="para">
        <h4> Hello Travellers,</h4>
        <h5>Thank you for being a part of BusPassCompany. We got launched on 7th October of 2020 with a soul intention to provide quick, exclusive service to your wanderlust brain. Our goal is to make your journey hustle free and worth every penny. Hope you enjoy your trip!!!</h5>
        <br>
        <ul style="padding-left:30px">
            <li>Security</li>
            <li>Comfort</li>
            <li>Luxury</li>
            <li>Best in class.</li>
        </ul>
        <br>
        <h4> About Founder:</h4>
        <p>Preethi is Founder and CEO at BusPassCompany. She graduated from Vellore Institute of Technology. she started her first job at LTI at the age of 21.</p>
        <p>This is a first Chennai based startup which provides all round luxury for travelling in your journey at Reasonable price.</p>
        <p>“It’s difficult to travel with luxury and comfort while in a bus. Don’t worry, BusPassCompany is here to rescue you”</p>
        <p>We take orders through calls & website.</p>
        <a href="" style="color: red">www.buspasscompany.com</a> or <a href="tel:7395932660" style="color: red">+91-7395932660</a>
    </div>   
            
            
    <!-- features section -->
    <div class="site-section">
    <div class="site-section-inside">

        <div class="section-header">
            <h2>Key Features</h2>
        </div>

        <div class="feature-box">
            <img src="assets/images/like.png" alt="Easy to Use">
            <h5>Lorem ipusm</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur minima tenetur, voluptas repellendus et perspiciatis sint. Unde saepe, culpa recusandae deserunt officia, quo illum blanditiis reiciendis! Cum, iste perspiciatis obcaecati.</p>
        </div>

        <div class="feature-box">
            <img src="assets/images/faces.png" alt="Fun to Use">
            <h5>Lorem Ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur minima tenetur, voluptas repellendus et perspiciatis sint. Unde saepe, culpa recusandae deserunt officia, quo illum blanditiis reiciendis! Cum, iste perspiciatis obcaecati.</p>
        </div>

        <div class="feature-box">
            <img src="assets/images/heart.png" alt="Fun to Use">
            <h5>LorepIpsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur minima tenetur, voluptas repellendus et perspiciatis sint. Unde saepe, culpa recusandae deserunt officia, quo illum blanditiis reiciendis! Cum, iste perspiciatis obcaecati.</p>
        </div>

    </div>
    </div>  

    <!-- testimonials section -->
    <div class="site-section site-section-secondary">
    <div class="site-section-inside">

        <div class="section-header">
            <h2>What the people say</h2>
        </div>

        <div class="testimonial-box">
            <div class="testimonial-content">
                Their service is by far the most influential I've ever seen.
            </div>
            <div class="testimonial-author">
                <img src="assets/images/Akshat.jpg" alt="David East">
                <h5>Akshat Bhatt</h5>
                <span>Travelled to Delhi</span>
            </div>
        </div>

        <div class="testimonial-box">
            <div class="testimonial-content">
                Their service is by far the most influential I've ever seen.
            </div>
            <div class="testimonial-author">
                <img src="assets/images/Keshav.jpg" alt="Holly Lloyd">
                <h5>Keshav Mishra</h5>
                <span>Travelled to Mumbai</span>
            </div>
        </div>

        <div class="testimonial-box">
            <div class="testimonial-content">
                Their service is by far the most influential I've ever seen.
            </div>
            <div class="testimonial-author">
                <img src="assets/images/Himanshu.jpg" alt="Brad Green">
                <h5>Himanshu Singh</h5>
                <span>Travelled to pune</span>
            </div>
        </div>

    </div>
    </div>

</main>
