<div id="login-phase">
	<div id="log">
		<br>
	<h2>Exisiting User (Login)</h2>
	<form>
		<label>
			Email: <div style="width: 5px;"></div><input type="Email" name="Email" required>
		</label>
		<br>
		<label>
			Password: <div style="width: 5px;"></div><input type="Password" name="Password" required><br>
		</label>
		
	</form>
	<br>
	<button routerLink="/" class="btn btn-primary">CANCEL</button>
	<button routerLink="/searchBusLink" class="btn btn-primary">CONTINUE</button>  <br>
	<br>
</div>
</div>
