<div class="container-lg">
  <!-- <h4>Enter Details to search your booked ticket</h4><br><br> -->
  <br>
  <br> <br> <br> <br>
		<form [formGroup]="SearchTicketForm" (ngSubmit)="f.form.valid" #f="ngForm">
      <div class="container">
       <br>
       <br>
       <h4>Enter Your Ticket ID</h4><br><br>
      <!-- Ticket Id-->
      <div class="form-group">
        <label>Ticket Id </label> 
        <input type="text" name="" id="tck" [(ngModel)]=search.ticketNo formControlName="ticketId"  class="form-control" placeholder="Enter Ticket Id" [class.is-invalid]="TicketId.invalid && TicketId.touched">

        <div *ngIf="TicketId.invalid && TicketId.touched">
          <small class="text-danger">TicketId not valid.</small>
        </div> 
			</div>
      
         <br>
      <!-- OnSubmit button -->
      <div class="form-group" style="text-align:center">
        <button class="btn btn-primary" (click)="searchTicket()">Search Details</button>
      </div>

      
    </div>
  
    </form>
  <br>
  <br>
  <br> <br> <br>
  <div *ngIf="show">
    <h3>Ticket Details:</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ticket Id</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Arrival Time</th>
        <th>Departure Time</th>
        <th>Bus Number</th>
        <th>Seat Number</th>
        <th>Date of Journey</th>
      </tr>  
    </thead>
   <!-- *ngFor="let c of searcha"   *ngFor="let c of searchb" -->
    <tbody>
      <tr >
        <td>102</td>
        <td>Chenai</td>
        <td>Madurai</td>
        <td>13:15</td>
        <td>07:00</td>
        <td>8</td>
        <td>D2</td>
        <td>10-10-2020</td>
      </tr> 
      <tr >
        <td>102</td>
        <td>Vellore</td>
        <td>Trichy</td>
        <td>11:15</td>
        <td>15:00</td>
        <td>4</td>
        <td>J4</td>
        <td>11-09-2020</td>
      </tr> 
      <tr >
        <td>102</td>
        <td>Vellore</td>
        <td>Madurai</td>
        <td>21:00</td>
        <td>4:00</td>
        <td>6</td>
        <td>K1</td>
        <td>11-09-2020</td>
      </tr> 
      <tr >
        <td>{{searchb.ticketNo}}</td>
        <td>{{searchb.source}}</td>
        <td>{{searchb.destination}}</td>
        <td>{{searchb.startTime}}</td>
        <td>{{searchb.reachTime}}</td>
        <td>{{searchb.busNo}}</td>
        <td>{{searchb.seatNo}}</td>
        <td>{{searchb.dateOfJourney}}</td>
      </tr> 
    </tbody>
  </table>
</div>
</div>