<div id="login-complete">
   <div id="heading" class="container-fluid text-center">
	<br>
	<br>
	<h2>My DashBoard</h2>
	<br>
	<br>
  </div>
	<div id="main" class="container">
		<div class="row">
		<button class="btn btn-dark" type="submit" (click)='bookingDetails()'>Bookings</button>
		</div>
		<div class="row">
		<button class="btn btn-dark" type="submit" (click)='userDetails()'>Profile</button>
		</div>
		<div class="row">
		<button class="btn btn-dark" type="submit" (click)='showc()'>Change Password</button>
		</div>
		<div class="row">
		<button class="btn btn-dark" type="submit" (click)='wallet()'>Wallet</button>
		</div>
		<div class="row">
		<button type="submit" class="btn btn-dark" routerLink="/">Logout</button>
	   </div>
      </div>	
 

	  <div class="dashboard-content">
		<div class="">
			<p id="demo"></p>
			<div *ngIf='first' class="booking-works">
				<h2>Bookings</h2>
				<div class="bookings" *ngFor="let c of details">
					<span>{{c[0]}}</span>
					<span>{{c[1]}}</span>
					<span>{{c[2]}}</span>
					<br><br>
				</div>	
			</div>
			<!-- <div *ngIf='second'>
				<div id="box">
					<div id="box-content">
					<h4>User Profile</h4><br>
					<h4>Email:-   <span>{{email}}</span></h4>
					<h4>FirstName:- <span>{{firstName}}</span></h4>
					<h4>LastName:- <span>{{lastName}}</span></h4>
					<h4>Phone Number:- <span>{{phone}}</span></h4>
				</div>
				</div>
				
			</div> -->
			<div *ngIf='second'>
				<h4>User Profile</h4><br>
				<div id="box-content">
					 <table class="table">
					<tr> 
					<td>Email</td> 
					 <td>preethipadu@gmail.com</td>
					</tr>
					<tr> 
						<td>FirstName</td> 
						<td>Preethi</td>
					</tr>
					<tr> 
						<td>LastName</td> 
						<td>Padmanabhan</td>
					</tr>
					<tr> 
						<td>Phone Number</td> 
						<td>+91-7395932660</td>
					</tr>
					</table>
				</div>
				
			</div>

			<div *ngIf='third'>
				<h2>Set New Password</h2>
					<form (ngSubmit)="updatePass()"> 
						 Old Password:<input id="old"type="password" [(ngModel)]="newObj1.oldPassword" name="old"> 
						  New Password:<input id="new" type="password" [(ngModel)]="newObj1.newPassword" name="new">
						   <button type="submit" class="btn btn-primary">update password</button>
					</form>
					<h2 style="color: red;">{{message}}</h2>
				
				

				
			</div>
			<div *ngIf='fourth'>
				<div id="box">
					<div id="box-content">
						<h4>current balance: <span>{{amount}}</span> </h4>
				</div>
				</div>		
			</div>
			
			<br>
<br>
<br> <br> <br>
<br>
<br>
<br> <br> <br>
			<div *ngIf='fifth'>
				<p>Check Out your Dashboard</p>
			</div>
		</div>
	</div>
</div>

